body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.post-list {
  margin-left: 125px;
  width: 100%; /* Full width to ensure it centers properly */
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.post-card {
  width: 70%; /* Adjust this percentage to control the card width */
  max-width: 600px; /* Limit the maximum width of the card */
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  min-height: 190px; /* Ensures all cards have at least this height */
  display: flex;
  min-width: 350px;
  flex-direction: column;
  justify-content: space-between; /* Ensures uniform content alignment */
}

.post-title {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  flex-grow: 1; /* Ensures title takes up extra space if needed */
}

.author-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.author-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-info p {
  margin: 0;
  color: #555;
}

.date {
  font-size: 14px;
  color: gray;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

.centered-container {
  display: flex;
  justify-content: center;
}

.post-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto; 
  padding: 20px; 
  width: 800px; 
}

.author-info{
  display: flex;
  align-items: center;
}

.datep{
  font-size: 14px;
  margin-top: -4px;
  color: gray;
  font-weight: bold;
}

.allInfo{
  margin-right: 90%;
  white-space: nowrap;
}

.ptitle{
  margin-right: 90%;
  white-space: nowrap; 
  width: calc(100% - 90%);
  font-size: 24px;
  margin-top: -7px;
  color: #333;
}

.aname{
  font-weight:bold;
  font-size: 16px;
}

.cover-container {
  width: 100%; 
  height: 300px; 
}

.cover-image {
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
}

.content-container {
  margin-top: -20px;
  /* background: red; */
  max-width: 100%; 
  overflow: hidden; 
  text-align: left;
  align-items:left;
}

.content-container > * {
  max-width: 100%; 
  text-align: left;
  align-items:left;
}

.content-container img {
  max-width: 100%; 
  height: auto; 
  object-fit: contain; 
}

.content-container video {
  max-width: 100%; 
  height: auto; 
  object-fit: contain; 
}
